/* This is the Stylsheet for the Weather Site */

/* Table of contents
1. Imports
2. General rules
3. Mobile first rules
4. Larger screen rules */

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2 - General Rules */
header {
  background-color: #0e89d5
}

/* Header stuff */
#logo {
  display: inline-block
}

#pagetitle {
  display: inline-block
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sansita', sans-serif;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* Nav stuff */
nav {
  display: inline-block
}
/* Section 3 - Mobile First rules */
